<footer class="main-footer bg-charade pt-70" data-sticky-footer="true">
  <section>
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-6 col-sm-6">
          <h3 class="widget-title text-white">Follow us</h3>
          <ul class="social-icon social-icon-md">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <div class="lqd-column col-md-6 col-sm-6">
          <h3 class="widget-title text-white">Contact</h3>
          <p>
            contact@4kproduction.tn
            <br>
            31 av hedy checker, 1002 Tunis
            <br>
            <br>
            +216 53 142 434
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bt-fade-white-015 pt-35 pb-35 mt-50">
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-6">
          <p class="my-0"><span style="font-size: 15px;">Copyright &copy; {{copy}} 4K Production. All Rights Reserved</span></p>
        </div>
      </div>
    </div>
  </section>
</footer>
