<section class="vc_row pt-55 pb-140">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-3">
        <h2 class="h3 mt-0 mb-md-0"><span class="font-size-1-25x">Nos partenaires</span></h2>
      </div>
      <div class="lqd-column col-md-9">
        <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">
          <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-1.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-2.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-3.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-4.png" class="w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-5.png" class="w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-4.png" class="w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-5.png" class="w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
