<section class="vc_row pt-55 pb-140">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-3">
        <h2 class="h3 mt-0 mb-md-0"><span class="font-size-1-25x">Nos partenaires</span></h2>
      </div>
      <div class="lqd-column col-md-9">
        <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">
          <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>
            <!-- bahrin -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/1042153.jpg" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <!-- faun -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/content_fao_h1501.png" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <!-- dw -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/deutsche-welle-logo.jpg" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <!-- dws -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/DWA-RGB-Standard-Logo-Claim.jpg" class="w-60" alt="Client">
              </figure>
            </div>
            <!-- eu -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/Logo-union-européenne.png" class="w-60" alt="Client">
              </figure>
            </div>
            <!-- munadhra -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/munathara.jpg" class="mt-10 w-60" alt="Client">
              </figure>
            </div>
            <!-- youm -->
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/unnamed.jpg" class="w-60" alt="Client">
              </figure>
            </div>
            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/VOA.png" class="w-60" alt="Client">
              </figure>
            </div>

            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/download.jpg" class="w-60" alt="Client">
              </figure>
            </div>

            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/unnamed%20(1).jpg" class="w-60" alt="Client">
              </figure>
            </div>

            <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4 px-0">
              <figure class="text-center opacity-02 reset-opacity-onhover">
                <img src="assets/img/partners/unnamed%20(2).jpg" class="w-60" alt="Client">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
