<section class="overview-area pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="overview-content">
          <img src="assets/images/hero-line-5.png" alt="">
          <span>Aperçu</span>
          <h3 class="title">À propos de notre entreprise</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="overview-counter-area">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="overview-counter-item mt-10 animated wow fadeInUp" data-wow-duration="3000ms" data-wow-delay="0ms">
                <div class="icon">
                  <img src="assets/images/overview-1.png" alt="">
                </div>
                <h3 class="title count">5</h3>
                <span>Années d'expérience</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="overview-counter-item mt-10 animated wow fadeInUp" data-wow-duration="3000ms" data-wow-delay="300ms">
                <div class="icon">
                  <img src="assets/images/overview-2.png" alt="">
                </div>
                <h3 class="title count">79</h3>
                <span>Projets réalisés</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="3000ms" data-wow-delay="600ms">
                <div class="icon">
                  <img src="assets/images/overview-3.png" alt="">
                </div>
                <h3 class="title count">27</h3>
                <span>Clients</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="overview-counter-item mt-30 animated wow fadeInUp" data-wow-duration="3000ms" data-wow-delay="900ms">
                <div class="icon">
                  <img src="assets/images/overview-4.png" alt="">
                </div>
                <h3 class="title"><span class="count">32</span>k</h3>
                <span>Followers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
