<section class="testimonial-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="section-title section-title-2 text-center">
          <img src="assets/images/hero-line-5.png" alt="">
          <h3 class="title">Témoignages</h3>
        </div>
      </div>
    </div>
    <div class="row testimonial-active testimonial-8-active">
      <div class="col-lg-4">
        <div class="testimonial-item mt-30">
          <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" width="53.729" height="40" viewBox="0 0 53.729 40">
              <g data-name="Group 21" transform="translate(0 0)">
                <path data-name="Union 1" d="M47.055,40a1.21,1.21,0,0,1-1.018-.509L31.106,19.357A12.178,12.178,0,0,1,29.07,11.1,12.364,12.364,0,1,1,45.98,23.881l6.957,14.253A1.313,1.313,0,0,1,51.806,40ZM18.1,40a1.209,1.209,0,0,1-1.018-.509L2.149,19.357A12.77,12.77,0,0,1,.056,11.043,12.395,12.395,0,1,1,17.023,23.881L23.98,38.134A1.313,1.313,0,0,1,22.849,40Z" transform="translate(0 0)" />
              </g>
            </svg>
          </div>
          <p dir="rtl">
            كل عبارات الشكر والتقدير لشركة 4k Production و لصاحبتها الصحفية الرائعة مبروكة خذير للمستوى العالي من المهنية و الاحترافية، أرجو لكم مزيدا من التألق و النجاح و الاشعاع تونسيا و عربيا.
          </p>
          <div class="info">
            <img src="assets/images/test1.jpg" alt="">
            <h5 class="title">ليلى بن عطية الله</h5>
            <span dir="rtl">المديرة العامة لأكاديمية ON AIR FORMATION أول أكاديمية مغاربية متخصصة في التدريب السمعي البصري و الاتصالي في تونس</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mt-30">
          <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" width="53.729" height="40" viewBox="0 0 53.729 40">
              <g data-name="Group 21" transform="translate(0 0)">
                <path data-name="Union 1" d="M47.055,40a1.21,1.21,0,0,1-1.018-.509L31.106,19.357A12.178,12.178,0,0,1,29.07,11.1,12.364,12.364,0,1,1,45.98,23.881l6.957,14.253A1.313,1.313,0,0,1,51.806,40ZM18.1,40a1.209,1.209,0,0,1-1.018-.509L2.149,19.357A12.77,12.77,0,0,1,.056,11.043,12.395,12.395,0,1,1,17.023,23.881L23.98,38.134A1.313,1.313,0,0,1,22.849,40Z" transform="translate(0 0)" />
              </g>
            </svg>
          </div>
          <p>
            Our experience with 4K production was a very positive and successful one: a very professional team who cares a lot about the quality and requirements of the reports they produce from the first steps to preparation up to the last final product. A punctual, enthusiastic and creative team. We highly recommend it for any audio-visual work!
          </p>
          <div class="info">
            <img src="assets/images/test2.jpg" alt="">
            <h5 class="title">Taqallam for freedom of speech</h5>
            <span>Taqallam for freedom of speech</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mt-30">
          <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" width="53.729" height="40" viewBox="0 0 53.729 40">
              <g data-name="Group 21" transform="translate(0 0)">
                <path data-name="Union 1" d="M47.055,40a1.21,1.21,0,0,1-1.018-.509L31.106,19.357A12.178,12.178,0,0,1,29.07,11.1,12.364,12.364,0,1,1,45.98,23.881l6.957,14.253A1.313,1.313,0,0,1,51.806,40ZM18.1,40a1.209,1.209,0,0,1-1.018-.509L2.149,19.357A12.77,12.77,0,0,1,.056,11.043,12.395,12.395,0,1,1,17.023,23.881L23.98,38.134A1.313,1.313,0,0,1,22.849,40Z" transform="translate(0 0)" />
              </g>
            </svg>
          </div>
          <p>
            De mon plein gré , j’aimerai spécifiquement exprimer ma gratitude à toute l’équipe de 4k production , je vous remercie de tout coeur  pour votre dévouement , compréhension , engagement, professionnalisme et votre excellent travail .
            Je vous souhaite une excellente continuation <3
          </p>
          <div class="info">
            <img src="assets/images/test3.jpg" alt="">
            <h5 class="title" dir="rtl">سهيل دحمان</h5>
            <span dir="rtl">رئيس جمعيةأطفال الجزر</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
