<section class="about-us-area pb-100" style="background-color: rgb(17, 15, 15); color: white;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="section-title text-center mt-5">
          <img src="assets/images/hero-line-5.png" alt="">
          <h3 class="title" style="color: white;">About us</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="row">
          <p class="text-justify">
            Nous sommes des experts dans la production et la conception des projets audiovisuels adéquats et innovants .
            Nous développons les projets qui nous enrichissent, tant par les personnes auprès desquelles nous nous engageons que
            par les sujets qui nous ouvrent de belles perspectives.
          </p>
        </div>
      </div>
      <div class="offset-1 col-lg-5">
        <div class="row">
          <p class="text-justify">
            Nous concevons chaque film, reportage et chaque projet, comme une plongée dans un univers que nous retranscrivons
            par des choix originaux de narration et de mise en scène. A cet égard, l’innovation technique est pour nous le moyen privilégié
            d’élargir et d’enrichir le champ de la création.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
