<section class="vc_row">
  <div class="pt-90 pb-50">
    <div class="container">
      <div class="row">
        <div class="lqd-column col-md-8 col-md-offset-2 text-center mb-40">
          <h2 class="h3" data-split-text="true" data-split-options='{"type":"lines"}'>
            <span class="font-size-1-25x">Qui sommes nous ?</span>
          </h2>
        </div>
        <div class="lqd-column col-md-5 col-md-offset-1">
          <p>
            The bees decided to have a mutiny against their queen.
            He picked up trash in his spare time to dump in his neighbor's yard.
          </p>
          <p>
            The bees decided to have a mutiny against their queen.
            He picked up trash in his spare time to dump in his neighbor's yard.
          </p>
        </div>
        <div class="lqd-column col-md-5">
          <p>
            She had a habit of taking showers in lemonade.
            He didn't heed the warning and it had turned out surprisingly well.
            She used her own hair in the soup to give it more flavor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
