<section class="vc_row pt-50 pb-85" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":60,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-8 col-md-offset-2">
        <header class="fancy-title text-center mb-50">
          <h2>Contactez nous</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="lqd-column col-md-4">
        <div class="iconbox iconbox-circle iconbox-sm iconbox-heading-xs border-gray border-gray px-5 py-5">
          <div class="iconbox-icon-wrap">
            <span class="iconbox-icon-container">
              <i class="fa fa-envelope-o"></i>
            </span>
          </div>
          <div class="contents">
            <h3>Email</h3>
            <p>test@test.com</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4">
        <div class="iconbox iconbox-circle iconbox-sm iconbox-heading-xs border-gray border-gray px-5 py-5">
          <div class="iconbox-icon-wrap">
            <span class="iconbox-icon-container">
              <i class="fa fa-map-marker"></i>
            </span>
          </div>
          <div class="contents">
            <h3>Adresse</h3>
            <p>31 av hedy checked, 1002 tunis.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4">
        <div class="iconbox iconbox-circle iconbox-sm iconbox-heading-xs border-gray border-gray px-5 py-5">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="fa fa-phone"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Téléphone</h3>
            <p>+216 52 142 434</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
