<section class="vc_row pt-50 pb-20">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
            <span class="iconbox-icon-container">
              <i class="icon-ion-ios-color-filter"></i>
            </span>
          </div>
          <div class="contents">
            <h3>Service 1</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="icon-ion-ios-tv"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Service 2</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="icon-ion-ios-rocket"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Service 3</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="icon-ion-ios-gift"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Service 4</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="icon-ion-ios-contacts"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Service 5</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="icon-ion-ios-help-buoy"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Service 6</h3>
            <p>Service description.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
