<section class="service-area service-7-area service-15-area pb-85" style="background-color:rgb(214, 32, 32);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="section-title text-center">
          <img src="assets/images/hero-line-5.png" alt="">
          <h3 class="title" style="color: white;">Nos Services</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="service-item service-7-item service-15-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <div class="icon">
            <i class="fal fa-globe"></i>
          </div>
          <h3 class="title">News</h3>
          <p>Des reportages de toute actualité économique, sociale, politique, environnementale, culturelle ...</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="service-item service-7-item service-15-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="icon">
            <i class="fal fa-video"></i>
          </div>
          <h3 class="title">Storytelling</h3>
          <p>
            Le « story-telling » est la nouvelle martingale du journalisme
          </p>
          <br>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="service-item service-7-item service-15-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="icon">
            <i class="fa fa-film"></i>
          </div>
          <h3 class="title">Cinématographie</h3>
          <p>Production cinématographique et audiovisuelle des documentaires, longs et courts métrages.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="service-item service-7-item service-15-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <div class="icon">
            <i class="fa fa-camera-retro"></i>
          </div>
          <h3 class="title">Communication évenementielle</h3>
          <p>
            Techniques qui consistent à créer ou organiser des évènements.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="service-item service-7-item service-15-item mt-30 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="icon">
            <i class="fa fa-clipboard"></i>
          </div>
          <h3 class="title">Training</h3>
          <p>
            Nous organisions des sessions de formation afin de réunir les individus soucieux d’améliorer leur pratique.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
