<section class="vc_row pt-50 pb-20">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
            <span class="iconbox-icon-container">
              <i class="icon-ion-ios-tv"></i>
            </span>
          </div>
          <div class="contents">
            <h3>News</h3>
            <p>
              Des reportages de toute actualité économique, sociale, politique,
              environnementale, culturelle ...
            </p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="fa fa-video-camera"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Storytelling</h3>
            <p>
              Le « story-telling » est la nouvelle martingale du journalisme. Pour intéresser le public, il faudrait lui
              raconter une émouvante, originale et forte histoire humaine. Le journaliste est donc un scénariste de
              l’information, un designer narratif de la réalité du monde, un producteur d’impact et un chef de
              projets afin de capter cette attention si fugace du public.
            </p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<!--i class="icon-ion-ios-rocket"></i-->
                    <i class="fa fa-film"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Cinématographie</h3>
            <p>Une œuvre cinématographique est le fruit d’un travail de création artistique qui passe notamment
              par l’écriture puis par la mise en images d’un scénario. Mais le cinéma est aussi une industrie. C’est
              pour cela nous sommes spécialisés dans la production cinématographique et audiovisuelle des
              documentaires, longs et courts métrages afin de fournir à notre public et nos clients des services de
              tournage, de contenu et de diffusion qualifiés.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="lqd-column col-md-4 col-md-offset-2 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<!--i class="icon-ion-ios-gift"></i-->
                    <i class="fa fa-camera-retro"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Communication évenementielle</h3>
            <p>Nos services représentent les différentes techniques qui consistent à créer ou organiser des
              évènements. On prend en charge la couverture médiatique des conférences de presse, congrès, et
              des cérémonies, meeting et séminaires , lancement d’un produit , des foires, Team Building…..
              On croit vraiment que l'événementiel est un outil de communication efficace qui attire un large
              public et favorise les interactions et les rencontres entre invités entreprises et les Médias et pour
              travailler dans ce secteur, il faut avoir l’esprit ouvert et savoir jongler avec des idées artistiques et
              originales.</p>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-4 col-sm-6 mb-30">
        <div class="iconbox iconbox-xl iconbox-heading-sm px-md-2">
          <div class="iconbox-icon-wrap">
									<span class="iconbox-icon-container">
										<i class="fa fa-clipboard"></i>
									</span>
          </div>
          <div class="contents">
            <h3>Training</h3>
            <p>Nous organisions des sessions de formation afin de réunir les individus soucieux d’améliorer leur
              pratique, d’augmenter leurs compétences et d’obtenir les techniques et les outils qui leur
              permettront de progresse en plusieurs techniques ( Maîtriser les techniques et les outils nécessaires
              à la réalisation de reportages d’actualités en vidéo numérique, la production de contenu ,
              storytelling, de la prise de vues au montage, en mobile journalisme , de l’investigation , de la prise de
              parole , en cadrage …..)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
