<section class="team-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9">
        <div class="section-title text-center">
          <img src="assets/images/hero-line-5.png" alt="">
          <h3 class="title">Notre équipe</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row team-active">
      <div class="col-lg-3">
        <div class="team-item mt-40 mb-100">
          <img src="assets/uploads/mabrouka.jpg" alt="">
          <div class="team-overlay d-flex align-items-end">
            <div class="content">
              <h4 class="title">Mabrouka Kedhir</h4>
              <span>FONDATRICE & DIRECTRICE DE PRODUCTION</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-item mt-40 mb-100">
          <img src="assets/uploads/fathia.jpg" alt="">
          <div class="team-overlay d-flex align-items-end">
            <div class="content">
              <h4 class="title">Fathia Kedhir</h4>
              <span>CO-FONDATRICE & RÉALISATRICE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-item mt-40 mb-100">
          <img src="assets/uploads/rochdi.jpg" alt="">
          <div class="team-overlay d-flex align-items-end">
            <div class="content">
              <h4 class="title">Rochdi Kedhir</h4>
              <span>DIRECTEUR ARTISTIQUE / CADREUR ET MONTEUR
</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-item mt-40 mb-100">
          <img src="assets/uploads/khouloud.jpg" alt="">
          <div class="team-overlay d-flex align-items-end">
            <div class="content">
              <h4 class="title">Khouloud Hamdi</h4>
              <span>COORDINATRICE DE PRODUCTION / JOURNALISTE</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="team-item mt-40 mb-100">
          <img src="assets/uploads/imed.jpg" alt="">
          <div class="team-overlay d-flex align-items-end">
            <div class="content">
              <h4 class="title">Imed Saihi</h4>
              <span>PHOTOGRAPHE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
