<section class="vc_row pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-12 mb-40">
        <h2 class="h3"><span class="font-size-1-25x">Notre équipe</span></h2>
      </div>
      <div class="lqd-column col-md-3">
        <div class="ld-tm pos-rel text-light">
          <div class="ld-tm-img">
            <figure>
              <img src="assets/demo/team/team-1.jpg" alt="Team Members">
            </figure>
          </div>
          <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
            <h3 class="ld-tm-name">Hamza Chebil</h3>
            <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            <ul class="ld-tm-social social-icon mt-5">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-3">
        <div class="ld-tm pos-rel text-light">
          <div class="ld-tm-img">
            <figure>
              <img src="assets/demo/team/team-2.jpg" alt="Team Members">
            </figure>
          </div>
          <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
            <h3 class="ld-tm-name">Firas Chebil</h3>
            <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            <ul class="ld-tm-social social-icon mt-5">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-3">
        <div class="ld-tm pos-rel text-light">
          <div class="ld-tm-img">
            <figure>
              <img src="assets/demo/team/team-3.jpg" alt="Team Members">
            </figure>
          </div>
          <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
            <h3 class="ld-tm-name">Hamza Chebil</h3>
            <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            <ul class="ld-tm-social social-icon mt-5">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lqd-column col-md-3">
        <div class="ld-tm pos-rel text-light">
          <div class="ld-tm-img">
            <figure>
              <img src="assets/demo/team/team-3.jpg" alt="Team Members">
            </figure>
          </div>
          <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
            <h3 class="ld-tm-name">Hamza Chebil</h3>
            <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            <ul class="ld-tm-social social-icon mt-5">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
