<section class="vc_row pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-8 col-md-offset-2">
        <header class="fancy-title text-center px-md-7">
          <h2 class="title h1 mb-4">Notre équipe</h2>
        </header>
      </div>
      <div class="row">
        <div class="lqd-column col-md-2 col-sm-6 col-xs-offset-1 col-sm-offset-1 col-xs-10">
          <div class="ld-tm pos-rel text-light">
            <div class="ld-tm-img">
              <figure>
                <img src="assets/demo/team/team-1.jpg" alt="Team Members">
              </figure>
            </div>
            <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
              <h3 class="ld-tm-name">Hamza Chebil</h3>
              <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            </div>
          </div>
        </div>
        <div class="lqd-column col-md-2 col-sm-6 col-xs-offset-1 col-sm-offset-0 col-xs-10">
          <div class="ld-tm pos-rel text-light">
            <div class="ld-tm-img">
              <figure>
                <img src="assets/demo/team/team-2.jpg" alt="Team Members">
              </figure>
            </div>
            <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
              <h3 class="ld-tm-name">Firas Chebil</h3>
              <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            </div>
          </div>
        </div>
        <div class="lqd-column col-md-2 col-sm-6 col-xs-offset-1 col-sm-offset-0 col-xs-10">
          <div class="ld-tm pos-rel text-light">
            <div class="ld-tm-img">
              <figure>
                <img src="assets/demo/team/team-2.jpg" alt="Team Members">
              </figure>
            </div>
            <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
              <h3 class="ld-tm-name">Firas Chebil</h3>
              <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            </div>
          </div>
        </div>
        <div class="lqd-column col-md-2 col-sm-6 col-xs-offset-1 col-sm-offset-0 col-xs-10">
          <div class="ld-tm pos-rel text-light">
            <div class="ld-tm-img">
              <figure>
                <img src="assets/demo/team/team-2.jpg" alt="Team Members">
              </figure>
            </div>
            <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
              <h3 class="ld-tm-name">Firas Chebil</h3>
              <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            </div>
          </div>
        </div>
        <div class="lqd-column col-md-2 col-sm-6 col-xs-offset-1 col-sm-offset-0 col-xs-10">
          <div class="ld-tm pos-rel text-light">
            <div class="ld-tm-img">
              <figure>
                <img src="assets/demo/team/team-2.jpg" alt="Team Members">
              </figure>
            </div>
            <div class="ld-tm-info ld-overlay d-flex flex-column align-items-center justify-content-center">
              <h3 class="ld-tm-name">Firas Chebil</h3>
              <h6 class="ld-tm-pos text-uppercase">Senior Designer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
