<section class="vc_row pt-70 pb-70">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-8 col-md-offset-2">
        <header class="fancy-title text-center px-md-7">
          <h2 class="title h1 mb-4">Potfolio</h2>
          <p class="font-size-20 lh-16">
            Nous sommes résolument tournés vers l'avenir et les projets décrits ci-dessous en fournissent quelques exemples.
          </p>
        </header>
      </div>
      <div class="lqd-column col-md-12">
        <div class="liquid-portfolio-list">
          <div id="pf-grid-1" class="rowd liquid-portfolio-list-row pf-grid-1" data-liquid-masonry="true" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-pf-item", "animateTargetsWhenVisible": true, "duration":1000,"delay":100,"easing":"easeOutQuint","initValues":{"scale":0.75, "opacity": 0},"animations":{"scale":1, "opacity": 1	}}'>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche2.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <a href="assets/img/uploads/affiche2.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche3.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <a href="assets/img/uploads/affiche3.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche4.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <a href="assets/img/uploads/affiche4.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-12 col-sm-12 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche1.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <a href="assets/img/uploads/affiche1.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
