<section class="vc_row pt-70 pb-70">
  <div class="container">
    <div class="row">
      <div class="lqd-column col-md-8 col-md-offset-2">
        <header class="fancy-title text-center px-md-7">
          <h2 class="title h1 mb-4">Potfolio</h2>
          <p class="font-size-20 lh-16">
            Nous sommes résolument tournés vers l'avenir et les projets décrits ci-dessous en fournissent quelques exemples.
          </p>
        </header>
      </div>
      <div class="lqd-column col-md-12">
        <div class="liquid-portfolio-list">
          <div id="pf-grid-1" class="rowd liquid-portfolio-list-row pf-grid-1" data-liquid-masonry="true" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-pf-item", "animateTargetsWhenVisible": true, "duration":1000,"delay":100,"easing":"easeOutQuint","initValues":{"scale":0.75, "opacity": 0},"animations":{"scale":1, "opacity": 1	}}'>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche2.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <div class="mb-5 synopsis">
                          Note de vie : 16 minutes <br>
                          Taher est un jeune Tunisien qui chante du "rap". Les policiers l'ont attrapé en achetant une quantité
                          de cannabis , il a été condamné par le tribunal à une année de prison . Il a été torturé et agressé. En
                          sortant de prison Taher ne supportait pas la vie en Tunisie il n’a pas cessé de chercher des moyen
                          afin d’immigrer clandestinement, mais tous ses efforts étaient en vain, il a donc décidé de mettre fin
                          à sa vie, mais cette décision avait un effet inverse et Taher a pu surmonter sa situation et croyait en
                          un nouvel espoir à travers sa nouvelle chanson « Note de vie ».
                        </div>
                        <a href="assets/img/uploads/affiche2.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche3.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <div class="mb-5 synopsis">
                          Nidhal: 4 minutes <br>
                          C’est une histoire réelle, le Mardi vingt-sept Mars 2020, le blogueur tunisien Nidal al-Gharibi s'est suicidé
                          par pendaison à l'âge de trente-deux ans. Nidal Al-Ghribi du gouvernorat de Kairouan, cette ville et la région
                          la plus "agitée" en Tunisie et qui enregistre le taux le plus élevé de tentatives de suicide.
                        </div>
                        <a href="assets/img/uploads/affiche3.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-4 col-sm-6 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche4.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <div class="mb-5 synopsis">
                          Les descendants d'esclaves : 26 minutes <br>
                          Un film qui documente les pratiques racistes contre les Tunisiens noirs, en particulier dans le sud de la Tunisie, et expose
                          le phénomène continu de la discrimination raciale.
                          Bien que la Tunisie soit le premier pays arabe à abolir le racisme en 1846, mais la voix des Noirs n’est toujours pas entendue.
                          « Descendants d’esclaves » présente certaines des pratiques raciales exercées contre les Noirs à travers des histoires
                          personnelles et des expériences réelles qui prouvent la réalité amère des comportements de certains tunisiens racistes.
                        </div>
                        <a href="assets/img/uploads/affiche4.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lqd-column col-md-12 col-sm-12 col-xs-12 masonry-item">
              <div class="ld-pf-item ld-pf-dark title-size-18 pf-details-inside overflow-visible pf-details-full pf-details-h-mid pf-details-v-end pf-btns-mid pf-hover-animate-btn pf-hover-shadow pf-hover-shadow-alt-2 text-center">
                <div class="ld-pf-inner pos-rel">
                  <div class="ld-pf-image">
                    <figure data-responsive-bg="true">
                      <img src="assets/img/uploads/affiche1.jpg" alt="Portfolio">
                    </figure>
                  </div>
                  <div class="ld-pf-details py-4" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".split-inner", "startDelay": 0, "duration": 650, "delay": 200, "initValues": { "translateY": "150%" }, "animations": { "translateY": "0", "rotateX": 0 } }'>
                    <div class="ld-pf-bg bg-gradient-primary-br"></div>
                    <div class="ld-pf-details-inner" data-custom-animations="true" data-ca-options='{ "triggerHandler": "mouseenter", "triggerTarget": ".ld-pf-item", "triggerRelation": "closest", "offTriggerHandler": "mouseleave", "animationTarget": ".ld-pf-btn", "startDelay": 0, "duration": 650, "delay": 100, "initValues": { "scale": "0" }, "animations": { "scale": "1" } }'>
                      <div class="ld-pf-btns">
                        <div class="mb-5 synopsis-small">
                          La tragédie de l'Etat indépendant : 59 minutes <br>
                          C’est un film documentaire qui traite de la tentative de coup d'État contre le président Habib Bourguiba en 1962,
                          avec ses moindres détails sur les causes, les motifs, et le rôle et soutien de l'Egypte et de l'Algérie au pays.
                          Un film qui révèle la torture pratiquée contre les putschistes lors de l'enquête et incarne la scène de l'exécution
                          de dix des accusés à travers des scènes de théâtre. Et se termine par une lecture historique qui considère que la
                          Tunisie à cette époque a vécu une véritable tragédie, dans laquelle les sentiments de colère et de trahison se sont entrelacés.
                        </div>
                        <a href="assets/img/uploads/affiche1.jpg" class="ld-pf-btn circle ld-pf-btn-solid zoom fresco" data-fresco-group="ld-pf-1">
                          <span><i class="icon-ion-ios-search"></i></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
